﻿
@{
    ViewBag.Title = "Programs";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="../Content/extra.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <div id="header">
        <a href="~/Home/About"><img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /></a><span class="title">@ViewBag.Title</span>
        <div class="dropdown">
            <div id="parents" class="tabs"><a href="~/Parents/Parent" class="link"><p>Parents</p></a></div>
            <div class="dropdown-content">
                <a href="~/Parents/Lunch">Lunch Codes</a>
                <a href="~/Parents/StudentRegistration">Student Registration</a>
                <a href="~/Parents/Conference">Conference Schedules</a>
                <a href="~/Parents/SchoolScholarships">School Scholarships</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="teachers" class="tabs"><a href="~/Teachers/Teacher" class="link"><p>Teachers</p></a></div>
            <div class="dropdown-content">
                <a href="~/Teachers/Application">Job Application</a>
                <a href="~/Teachers/Schedule">Schedules</a>
                <a href="~/Teachers/Staff">Staff Directory</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="students" class="tabs"><a href="~/Students/Student" class="link"><p>Students</p></a></div>
            <div class="dropdown-content">
                <a href="~/Students/Extra">Extra Activities</a>
                <a href="~/Students/Programs">Programs</a>
                <a href="~/Students/Handbook">Student Handbook</a>
                <a href="~/Students/Hotline">Hotlines</a>
                <a href="~/Students/Parking">Parking Pass</a>
                <a href="~/Students/Scholarship">College Scholarships</a>
            </div>
        </div>
    </div>
    <dl>
        <dt>IT Academy</dt>
        <dd>Digital Forensics</dd>
        <dd>Sofware Engineering</dd>
        <dd>Hardware Development</dd>
        <dd>Information Technology Managers / IT Support</dd>
        <dd><br /></dd>
        <dt>Science</dt>
        <dd>Pharmacist</dd>
        <dd>Physician</dd>
        <dd>Environmental Science</dd>
        <dd>Biochemistry</dd>
        <dd><br /></dd>
        <dt>Business</dt>
        <dd>Marketing Manager</dd>
        <dd>Tax Manager</dd>
        <dd>Finance Manager</dd>
        <dd>Project Manager</dd>
        <dd><br /></dd>
        <dt>Art</dt>
        <dd>Theater</dd>
        <dd>Graphic Designer</dd>
        <dd>Photography</dd>
        <dd>Multimedia</dd>
        <dd><br /></dd>
        <dt>Engineering</dt>
        <dd>Architecture</dd>
        <dd>Cartography</dd>
        <dd>Interior Design</dd>
        <dd>Civil Engineering</dd>
    </dl>
</body>
</html>

