﻿
@{
    ViewBag.Title = "Student Portal";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <div id="header">
        <a href="~/Home/About"><img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /></a><span class="title">@ViewBag.Title</span>
        <div class="dropdown">
            <div id="parents" class="tabs"><a href="~/Parents/Parent" class="link"><p>Parents</p></a></div>
            <div class="dropdown-content">
                <a href="~/Parents/Lunch">Lunch Codes</a>
                <a href="~/Parents/StudentRegistration">Student Registration</a>
                <a href="~/Parents/Conference">Conference Schedules</a>
                <a href="~/Parents/SchoolScholarships">School Scholarships</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="teachers" class="tabs"><a href="~/Teachers/Teacher" class="link"><p>Teachers</p></a></div>
            <div class="dropdown-content">
                <a href="~/Teachers/Application">Job Application</a>
                <a href="~/Teachers/Schedule">Schedules</a>
                <a href="~/Teachers/Staff">Staff Directory</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="students" class="tabs"><a href="~/Students/Student" class="link"><p>Students</p></a></div>
            <div class="dropdown-content">
                <a href="~/Students/Extra">Extra Activities</a>
                <a href="~/Students/Programs">Programs</a>
                <a href="~/Students/Handbook">Student Handbook</a>
                <a href="~/Students/Hotline">Hotlines</a>
                <a href="~/Students/Parking">Parking Pass</a>
                <a href="~/Students/Scholarship">College Scholarships</a>
            </div>
        </div>
    </div>
    <table id="linkTable">
        <tr>
            <td id="linkCell1" class="linkCell">
                <a href="~/Students/Extra"><img id="sPortal" src="../Images/nhs.jpg" alt="Extra Activities" /></a>
                <p>Here's a list of extracurricular activities for you<br />to do outside of school!</p>
            </td>
            <td id="linkCell2" class="linkCell">
                <a href="~/Students/Programs"><img id="sPortal" src="../Images/program.jpg" alt="Programs" /></a>
                <p>A list of our school's programs!</p>
            </td>
        </tr>
        <tr>
            <td id="linkCell3" class="linkCell">
                <a href="~/Students/Handbook"><img id="sPortal" src="../Images/handbook.png" alt="Student Handbook" /></a>
                <p>A full online copy of the student handbook!</p>
            </td>
            <td id="linkCell1" class="linkCell">
                <a href="~/Students/Hotline"><img id="sPortal" src="../Images/hotline.jpg" alt="Hotlines" /></a>
                <p>Need some help? You're not alone!</p>
            </td>
        </tr>
        <tr>
            <td id="linkCell2" class="linkCell">
                <a href="~/Students/Parking"><img id="sPortal" src="../Images/parking.jpg" alt="Parking Pass" /></a>
                <p>Need a place to park?</p>
            </td>
            <td id="linkCell3" class="linkCell">
                <a href="~/Students/Scholarship"><img id="sPortal" src="../Images/sholarship.jpg" alt="College Scholarships" /></a>
                <p>Heres a list of scholarships to contribute to college!</p>
            </td>
        </tr>
    </table>
</body>
</html>
