﻿@{
	ViewBag.Title = "Home";
	Layout = "";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="../Content/project.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
	<script src="../Scripts/ay.js"></script>
</head>
<body>
	<div id="header">
		<a href="~/Home/About"><img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /></a><span class="title">@ViewBag.Title</span>
		<div class="dropdown">
			<div id="parents" class="tabs"><a href="~/Parents/Parent" class="link"><p>Parents</p></a></div>
			<div class="dropdown-content">
				<a href="~/Parents/Lunch">Lunch Codes</a>
				<a href="~/Parents/StudentRegistration">Student Registration</a>
				<a href="~/Parents/Conference">Conference Schedules</a>
				<a href="~/Parents/SchoolScholarships">School Scholarships</a>
			</div>
		</div>
		<div class="dropdown">
			<div id="teachers" class="tabs"><a href="~/Teachers/Teacher" class="link"><p>Teachers</p></a></div>
			<div class="dropdown-content">
				<a href="~/Teachers/Application">Job Application</a>
				<a href="~/Teachers/Schedule">Schedules</a>
				<a href="~/Teachers/Staff">Staff Directory</a>
			</div>
		</div>
		<div class="dropdown">
			<div id="students" class="tabs"><a href="~/Students/Student" class="link"><p>Students</p></a></div>
			<div class="dropdown-content">
				<a href="~/Students/Extra">Extra Activities</a>
				<a href="~/Students/Programs">Programs</a>
				<a href="~/Students/Handbook">Student Handbook</a>
				<a href="~/Students/Hotline">Hotlines</a>
				<a href="~/Students/Parking">Parking Pass</a>
				<a href="~/Students/Scholarship">College Scholarships</a>
			</div>
		</div>
	</div>
	<!-- Slideshow -->
	<div id="content">
		<a href="~/Login/Login"><div id="loginButton">Login</div></a>
		<a class="twitter-timeline" href="https://twitter.com/AcademyArtsTech?ref_src=twsrc%5Etfw" width="250px" height="600px">Tweets by AcademyArtsTech</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<div class="slideshow-container" style="
			 width: 50vw;
			 display: inline-block;
			 position: relative;
			 margin-right: 1vw;
			 float: right;">
			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%">
				<div class="text">Caption Text</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%">
				<div class="text">Caption Two</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%">
				<div class="text">Caption Three</div>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
		</div>
		<br>
		
		<script type="text/javascript">
				var slideIndex = 1;
				showSlides(slideIndex);

				// Next/previous controls
				function plusSlides(n) {
				  showSlides(slideIndex += n);
				}

				// Thumbnail image controls
				function currentSlide(n) {
				  showSlides(slideIndex = n);
				}

				function showSlides(n) {
				  var i;
				  var slides = document.getElementsByClassName("mySlides");
				  var dots = document.getElementsByClassName("dot");
				  if (n > slides.length) {slideIndex = 1}
				  if (n < 1) {slideIndex = slides.length}
				  for (i = 0; i < slides.length; i++) {
					  slides[i].style.display = "none";
				  }
				  for (i = 0; i < dots.length; i++) {
					  dots[i].className = dots[i].className.replace(" active", "");
				  }
				  slides[slideIndex-1].style.display = "block";
				  dots[slideIndex-1].className += " active";
				}
		</script>
		<p>The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly but gets faster each minute after you hear this signal bodeboop. A sing lap should be completed every time you hear this sound. ding Remember to run in a straight line and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark. Get ready!… Start. ding</p>
	</div>
	<div id="footer">
		<Span>&copy; 2017 Capstone</Span>
	</div>
	<!--<form action="/action_page.php">-->
	<div class="imgcontainer">
	</div>
</body>
</html>
