﻿@model Capstone.Models.RegistrationModel
@{
    ViewBag.Title = "Delete Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Account</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script src="ay.js"></script>
</head>
<body>
    <div id="header">
        <img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /><span class="title">Delete Account</span>
        <div class="dropdown">
            <div id="parents" class="tabs"><a href="~/Replace/Replace" class="link"><p>Change Username</p></a></div>
        </div>
        <div class="dropdown">
            <div id="teachers" class="tabs"><a href="~/Registration/Index" class="link"><p>Sign Up</p></a></div>
        </div>
        <div class="dropdown">
            <div id="students" class="tabs"><a href="~/Login/Login" class="link"><p>Login</p></a></div>
        </div>
    </div>
    <!--<form action="/action_page.php">-->
    <div class="imgcontainer">
    </div>
    @using (Html.BeginForm("Delete", "Delete", FormMethod.Post))
    {
        <p>Username: </p> @Html.TextBoxFor(m => m.Username)
        <p>Password: </p> @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Delete" />
        if (ViewBag.AlertText != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.AlertText
            </div>
        }
        if (ViewBag.SuccessText != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessText
            </div>
        }
    }
</body>
</html>
