﻿@{
	ViewBag.Title = "Home";
	Layout = "";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="../Content/project.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script src="../Scripts/ay.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid" style="padding-right: 20px; padding-left: 10px;">
            <a href="#" class="navbar-left"><img src="../Images/capstoneLogo(s).png" height="51" style="margin-top: 8px; margin-bottom: 8px; float: left;" /></a>
            <h1 class="navbar-text">@ViewBag.Title</h1>
            <div class="navbar-header" style="display: inline-block; float: right;">
                
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                    <li class="dropdown">
                        <a class="btn btn-inverse dropdown-toggle" href="~/Students/Student" type="button" id="dropdownMenu1" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Students</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Students/Extra">Extra Activities</a></li>
                            <li><a href="~/Students/Programs">Programs</a></li>
                            <li><a href="~/Students/Handbook">Student Handbook</a></li>
                            <li><a href="~/Students/Hotline">Hotlines</a></li>
                            <li><a href="~/Students/Parking">Parking Pass</a></li>
                            <li><a href="~/Students/Scholarship">College Scholarships</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu2" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Teachers</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Teachers/Application">Job Application</a></li>
                            <li><a href="~/Students/Programs">Schedules</a></li>
                            <li><a href="~/Students/Handbook">Staff Directory</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu3" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Parents</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Parents/Lunch">Lunch Codes</a></li>
                            <li><a href="~/Parents/StudentRegistration">Student Registration</a></li>
                            <li><a href="~/Parents/Conference">Conference Schedules</a></li>
                            <li><a href="~/Parents/SchoolScholarships">School Scholarships</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
	<!-- Slideshow -->
	<div id="content">
		<a class="twitter-timeline" href="https://twitter.com/AcademyArtsTech?ref_src=twsrc%5Etfw" width="250px" height="600px">Tweets by AcademyArtsTech</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<div class="slideshow-container" style="width: 60vw; display: inline-block; position: relative; margin-right: 1vw; margin-left: 50px;">
			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%; height: 75%">
				<div class="text">Caption Text</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%">
				<div class="text">Caption Two</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<img src="../Images/defaultImage.png" style="width:100%">
				<div class="text">Caption Three</div>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
		</div>
		<br>
		
		<script type="text/javascript">
				var slideIndex = 1;
				showSlides(slideIndex);

				// Next/previous controls
				function plusSlides(n) {
				  showSlides(slideIndex += n);
				}

				// Thumbnail image controls
				function currentSlide(n) {
				  showSlides(slideIndex = n);
				}

				function showSlides(n) {
				  var i;
				  var slides = document.getElementsByClassName("mySlides");
				  var dots = document.getElementsByClassName("dot");
				  if (n > slides.length) {slideIndex = 1}
				  if (n < 1) {slideIndex = slides.length}
				  for (i = 0; i < slides.length; i++) {
					  slides[i].style.display = "none";
				  }
				  for (i = 0; i < dots.length; i++) {
					  dots[i].className = dots[i].className.replace(" active", "");
				  }
				  slides[slideIndex-1].style.display = "block";
				  dots[slideIndex-1].className += " active";
				}
		</script>
		<p class="quote">“To instill creativity, innovation, and professionalism through studies in art and science.”</p>
	</div>
    <footer id="footer">
		<Span>&copy; 2017 Capstone</Span>
    </footer>
	<!--<form action="/action_page.php">-->
	<div class="imgcontainer">
	</div>
</body>
</html>
