﻿@model Capstone.Models.RegistrationModel
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script src="ay.js"></script>
</head>
<body>
    <div id="header">
        <img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /><span class="title">Login</span>
        <div class="dropdown">
            <div id="parents" class="tabs"><a href="Parents/parents.htm" class="link"><p>Parents</p></a></div>
            <div class="dropdown-content">
                <a href="Parents/lunchCodes.htm">Lunch Codes</a>
                <a href="Parents/studentRegistration.htm">Student Registration</a>
                <a href="Parents/conferenceSchedules.htm">Conference Schedules</a>
                <a href="Parents/schoolScholarships.htm">School Scholarships</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="teachers" class="tabs"><a href="Parents/parents.htm" class="link"><p>Teachers</p></a></div>
            <div class="dropdown-content">
                <a href="Teachers/jobApplication.htm">Job Application</a>
                <a href="Teachers/schedules.htm">Schedules</a>
                <a href="Teachers/staffDirectory.htm">Staff Directory</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="students" class="tabs"><a href="Students/students.htm" class="link"><p>Students</p></a></div>
            <div class="dropdown-content">
                <a href="Students/extraActivities.htm">Extra Activities</a>
                <a href="Students/programs.htm">Programs</a>
                <a href="Students/handbook.htm">Student Handbook</a>
                <a href="Students/hotlines.htm">Hotlines</a>
                <a href="Students/parkingPass.htm">Parking Pass</a>
                <a href="Students/scholarships.htm">College Scholarships</a>
            </div>
        </div>
    </div>
    <!--<form action="/action_page.php">-->
    <div class="imgcontainer">
    </div>
    @using (Html.BeginForm("Website", "Home", FormMethod.Post))
    {
        <p>Username: </p> @Html.TextBoxFor(m => m.Username)
        <p>Password: </p> @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Submit" />
        if (ViewBag.AlertText != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.AlertText
            </div>
        }
        if (ViewBag.SuccessText != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessText
            </div>
        }
    }
</body>
</html>