﻿
@{
    ViewBag.Title = "Hotline";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <div id="header">
        <a href="~/Home/About"><img class="logo" src="../Images/capstoneLogo(s).png" alt="Insert Logo" /></a><span class="title">@ViewBag.Title</span>
        <div class="dropdown">
            <div id="parents" class="tabs"><a href="~/Parents/Parent" class="link"><p>Parents</p></a></div>
            <div class="dropdown-content">
                <a href="~/Parents/Lunch">Lunch Codes</a>
                <a href="~/Parents/StudentRegistration">Student Registration</a>
                <a href="~/Parents/Conference">Conference Schedules</a>
                <a href="~/Parents/SchoolScholarships">School Scholarships</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="teachers" class="tabs"><a href="~/Teachers/Teacher" class="link"><p>Teachers</p></a></div>
            <div class="dropdown-content">
                <a href="~/Teachers/Application">Job Application</a>
                <a href="~/Teachers/Schedule">Schedules</a>
                <a href="~/Teachers/Staff">Staff Directory</a>
            </div>
        </div>
        <div class="dropdown">
            <div id="students" class="tabs"><a href="~/Students/Student" class="link"><p>Students</p></a></div>
            <div class="dropdown-content">
                <a href="~/Students/Extra">Extra Activities</a>
                <a href="~/Students/Programs">Programs</a>
                <a href="~/Students/Handbook">Student Handbook</a>
                <a href="~/Students/Hotline">Hotlines</a>
                <a href="~/Students/Parking">Parking Pass</a>
                <a href="~/Students/Scholarship">College Scholarships</a>
            </div>
        </div>
    </div>
    <h2>Helpful Hotlines</h2>
    <dl>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
        <dt><a href="">Title Link</a></dt>
        <dd>Description</dd>
    </dl>
</body>
</html>

