body    {background-color: floralwhite; color: dimgray; font-family: 'Yanone Kaffeesatz', sans-serif; margin: 0px; display: flex;
         flex-direction: column; min-height: 100%;
}
.logo     {height: 67px; margin-left: 5px;}
#header, #footer {color:floralwhite ; background-color: dimgray;}
#footer          {height: 30px; text-align: center; padding: 20px;}
h1              {color: white}
.title           {position: absolute; font-size: 50pt; width: 60vw;}
html {
    height: 100%;
}
#content {
    flex: 1;
    padding: 20px;
}
.quote{
    font-size: 25pt;
    margin: auto;
    color: blue
}
/*#loginButton {
	background-color: red;
	color: white;
	width: 100px;
	height: 70px;
	border-radius: 5px;
	position: relative;
	right: 10px;
	top: 77px;
	line-height: 70px;
	text-align: center;
	font-size: 20pt;
    margin-right: 0px;
}*/
	/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: .02px;
  border-color: dimgray;
}

.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: dimgray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: dimgray;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.tabs {
	width: 160px;
	background-color: dimgray;
}
.link:hover {
	background-color: aqua;
}
.tabs a {
	text-decoration: none;
}
.tabs p {
	color: floralwhite;
	margin: 0px;
	font-size: 30pt;
	line-height: 67px;
	font-family: 'Yanone Kaffeesatz';
	text-align: center;
}
	/* Dropdown */
/* Dropdown Button */
.dropbtn {
	background-color: dimgray;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	float: right;
	position: relative;
	display: inline-block;
	margin-right: 10;
	line-height: 67px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 100%;
	z-index: 1;
	font-size: 14pt;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: dimgray;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: dimgray;
}

#sPortal {
	width: 300px; height: 300px;
}
/* Link Table */
#linkTable {
	width: 90%; margin: 5px auto;
	border-spacing: 10px;
}

.linkCell {
	border: solid 10px;
	padding: 50px;
	text-align:center;
	border-radius: 0px;
	font-size: 20px;
	font-weight: bold;
}

#linkCell1 {
	background-color: #ff6961 ;
}
#linkCell2 {
	background-color: #aec6cf;
}
#linkCell3 {
	background-color: #fdfd96;
}

#linkCell1:hover {
	background-color: #EE1327;
}
#linkCell2:hover {
	background-color: #00528E;
}
#linkCell3:hover {
	background-color: #FFFF00;
}

#linkCell1:hover p {
	color: floralwhite;
}
#linkCell2:hover p {
	color: floralwhite;
}