﻿
@{
    ViewBag.Title = "Extracurricular Activities";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="../Content/extra.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid" style="padding-right: 20px; padding-left: 10px;">
            <a href="~/Home/About" class="navbar-left"><img src="../Images/capstoneLogo(s).png" height="51" style="margin-top: 8px; margin-bottom: 8px; float: left;" /></a>
            <h1 class="navbar-text">@ViewBag.Title</h1>
            <div class="navbar-header" style="display: inline-block; float: right;">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                    <li class="dropdown">
                        <a class="btn btn-inverse dropdown-toggle" href="~/Students/Student" type="button" id="dropdownMenu1" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Students</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Students/Extra">Extra Activities</a></li>
                            <li><a href="~/Students/Programs">Programs</a></li>
                            <li><a href="~/Students/Handbook">Student Handbook</a></li>
                            <li><a href="~/Students/Hotline">Hotlines</a></li>
                            <li><a href="~/Students/Parking">Parking Pass</a></li>
                            <li><a href="~/Students/Scholarship">College Scholarships</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu2" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Teachers</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Teachers/Application">Job Application</a></li>
                            <li><a href="~/Students/Programs">Schedules</a></li>
                            <li><a href="~/Students/Handbook">Staff Directory</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu3" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Parents</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Parents/Lunch">Lunch Codes</a></li>
                            <li><a href="~/Parents/StudentRegistration">Student Registration</a></li>
                            <li><a href="~/Parents/Conference">Conference Schedules</a></li>
                            <li><a href="~/Parents/SchoolScholarships">School Scholarships</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <dl>
        <dt><a href="https://www.nhs.us">National Honor Society</a></dt>
        <dd>The National Honor Society (NHS) is the nation’s premier organization established to recognize outstanding high school students. More than just an honor roll, NHS serves to recognize those students who have demonstrated excellence in the areas of scholarship, service, leadership, and character. These characteristics have been associated with membership in the organization since its beginning in 1921.</dd>
        <dd><br /></dd>
        <dt><a href="https://sdcorps.org">Student Diplomacy Corps</a></dt>
        <dd>The Student Diplomacy Corps (SDC) provides opportunities and scholarships for high school students from across the nation and around the world to access dynamic international education summer programs that build college readiness, deepen understanding of global issues and unleash the potential and creativity of youth.</dd>
        <dd><br /></dd>
        <dt><a href="https://www.habitat.org">Habitat for Humanity</a></dt>
        <dd>Habitat for Humanity partners with people in your community, and all over the world, to help them build or improve a place they can call home. Habitat homeowners help build their own homes alongside volunteers and pay an affordable mortgage. With your support, Habitat homeowners achieve the strength, stability and independence they need to build a better life for themselves and for their families. Through our 2020 Strategic Plan, Habitat for Humanity will serve more people than ever before through decent and affordable housing.</dd>
        <dd><br /></dd>
        <dt><a href="https://www.keyclub.org">Key Club</a></dt>
        <dd>Key Club members around the world are learning how to lead and stand for what’s right through service and volunteerism. In partnership with their local Kiwanis club, high school students are making a positive impact as they serve others in their schools and communities.</dd>
        <dd><br /></dd>
        <dt>Student Council</dt>
        <dd>Become engaged and learn about democracy and leadership while having an opportunity to make the Academy a better place for students.</dd>
        <dd><br /></dd>
        <dt>Peer Leadership Group</dt>
        <dd>Upperclassmen can help to ease the transition to the Academy for new students. Peer Leaders are trained to deal and mentor with the needs the new students may express.</dd>
        <dd><br /></dd>
        <dt>School Newspaper</dt>
        <dd>Students will write, edit, and layout nine issues of the school newspaper, both in print and in an online version as well as submit various news articles to local community newspapers. Students will also produce a video broadcast version of the school news with the number and frequency of broadcasts to be determined during the school year.</dd>
        <dd><br /></dd>
        <dt>Chess Club</dt>
        <dd>Clearly chess is an activity enjoyed by many, and it is the goal of the chess club to spread the love and appreciation that has been shared by humans across history. We wish to invite friends to relax after school and enjoy a few games of chess every Thursday. It is our sincere hope that the love of chess will bloom within the Academy, adding to the companionship and sense of community that we seek among the student body.</dd>
        <dd><br /></dd>
        <dt>Debate Club</dt>
        <dd>Practice the arts of presuasion and public speaking. Every week we have structured debates about current events. We do not use evidence, but rely on logic and persuasive skills to "win the day". Our topics are diverse and student-selected.</dd>
    </dl>
    
</body>
</html>

