﻿
@{
    ViewBag.Title = "Scholarship";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid" style="padding-right: 20px; padding-left: 10px;">
            <a href="~/Home/About" class="navbar-left"><img src="../Images/capstoneLogo(s).png" height="51" style="margin-top: 8px; margin-bottom: 8px; float: left;" /></a>
            <h1 class="navbar-text">@ViewBag.Title</h1>
            <div class="navbar-header" style="display: inline-block; float: right;">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                    <li class="dropdown">
                        <a class="btn btn-inverse dropdown-toggle" href="~/Students/Student" type="button" id="dropdownMenu1" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Students</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Students/Extra">Extra Activities</a></li>
                            <li><a href="~/Students/Programs">Programs</a></li>
                            <li><a href="~/Students/Handbook">Student Handbook</a></li>
                            <li><a href="~/Students/Hotline">Hotlines</a></li>
                            <li><a href="~/Students/Parking">Parking Pass</a></li>
                            <li><a href="~/Students/Scholarship">College Scholarships</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu2" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Teachers</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Teachers/Application">Job Application</a></li>
                            <li><a href="~/Students/Programs">Schedules</a></li>
                            <li><a href="~/Students/Handbook">Staff Directory</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu3" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Parents</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Parents/Lunch">Lunch Codes</a></li>
                            <li><a href="~/Parents/StudentRegistration">Student Registration</a></li>
                            <li><a href="~/Parents/Conference">Conference Schedules</a></li>
                            <li><a href="~/Parents/SchoolScholarships">School Scholarships</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>

