﻿
@{
    ViewBag.Title = "Student Portal";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/project.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/ay.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid" style="padding-right: 20px; padding-left: 10px;">
            <a href="~/Home/About" class="navbar-left"><img src="../Images/capstoneLogo(s).png" height="51" style="margin-top: 8px; margin-bottom: 8px; float: left;" /></a>
            <h1 class="navbar-text">@ViewBag.Title</h1>
            <div class="navbar-header" style="display: inline-block; float: right;">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                    <li class="dropdown">
                        <a class="btn btn-inverse dropdown-toggle" href="~/Students/Student" type="button" id="dropdownMenu1" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Students</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Students/Extra">Extra Activities</a></li>
                            <li><a href="~/Students/Programs">Programs</a></li>
                            <li><a href="~/Students/Handbook">Student Handbook</a></li>
                            <li><a href="~/Students/Hotline">Hotlines</a></li>
                            <li><a href="~/Students/Parking">Parking Pass</a></li>
                            <li><a href="~/Students/Scholarship">College Scholarships</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu2" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Teachers</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Teachers/Application">Job Application</a></li>
                            <li><a href="~/Students/Programs">Schedules</a></li>
                            <li><a href="~/Students/Handbook">Staff Directory</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="~/Teachers/Teacher" class="btn btn-inverse dropdown-toggle" type="button" id="dropdownMenu3" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">Parents</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Parents/Lunch">Lunch Codes</a></li>
                            <li><a href="~/Parents/StudentRegistration">Student Registration</a></li>
                            <li><a href="~/Parents/Conference">Conference Schedules</a></li>
                            <li><a href="~/Parents/SchoolScholarships">School Scholarships</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table id="linkTable">
        <tr>
            <td id="linkCell1" class="linkCell">
                <a href="~/Students/Extra"><img id="sPortal" src="../Images/nhs.jpg" alt="Extra Activities" /></a>
                <p>Here's a list of extracurricular activities for you<br />to do outside of school!</p>
            </td>
            <td id="linkCell2" class="linkCell">
                <a href="~/Students/Programs"><img id="sPortal" src="../Images/program.jpg" alt="Programs" /></a>
                <p>A list of our school's programs!</p>
            </td>
        </tr>
        <tr>
            <td id="linkCell3" class="linkCell">
                <a href="~/Students/Handbook"><img id="sPortal" src="../Images/handbook.png" alt="Student Handbook" /></a>
                <p>A full online copy of the student handbook!</p>
            </td>
            <td id="linkCell1" class="linkCell">
                <a href="~/Students/Hotline"><img id="sPortal" src="../Images/hotline.jpg" alt="Hotlines" /></a>
                <p>Need some help? You're not alone!</p>
            </td>
        </tr>
        <tr>
            <td id="linkCell2" class="linkCell">
                <a href="~/Students/Parking"><img id="sPortal" src="../Images/parking.jpg" alt="Parking Pass" /></a>
                <p>Need a place to park?</p>
            </td>
            <td id="linkCell3" class="linkCell">
                <a href="~/Students/Scholarship"><img id="sPortal" src="../Images/sholarship.jpg" alt="College Scholarships" /></a>
                <p>Heres a list of scholarships to contribute to college!</p>
            </td>
        </tr>
    </table>
</body>
</html>
